body {
    background-color: #272A36;
    background-image: url('Images/darkmodebackground.png');
}


.card {
    background-color: #394556;
}

.card-header {
    background-color: #333C4B;
}

.card-header-title {
    color: white;
}

.icon {
    color: white;
}
.input {
    background-color: #394556 ;
    caret-color: white;
}

.input::-webkit-input-placeholder { 
    color: #BDBEBF
  }

.is-link.input, .is-link.textarea {
    color: #B794E9;
    border-color: #B794E9;
}


.is-primary.input, .is-primary.textarea {
    color: #00FB7D;
    border-color: #00FB7D;
}

p {
    color: #f5f5f5;
}


.modal-card-head {
    background-color: #333C4B;
    border-bottom: 1px solid #4F4969;
}

.modal-card-title{
    color: white; 
}

.modal-card-body {
    background-color: #394556;
}

#example {
    background-color: #333C4B;
    border-left: 5px solid #4F4969;
}


.modal-card-body .content
{
    color: #f5f5f5;
}


.modal-card-body h4 {
    color: white;
}

.modal-card-foot{
    color: white;
    background-color: #333C4B;
    border-bottom: 1px solid #4F4969;
    border-top: 1px solid #4F4969;
}

.created-by{
    color: #70DDEC;
}


.defaultSize {
    color: #B794E9;

}

.newSize {
    color: #00FB7D;
}


.button.is-success {
    background-color: #00FB7D;
    border-color: transparent;
    color: #272A36;
}

.button.is-primary {
    background-color: #00FB7D;
    border-color: transparent;
    color: #272A36;
}

.button.is-warning {
    background-color: #F073BF;
    border-color: transparent;
    color: #272A36;
}

blockquote {
    background-color: #333C4B;
    border-left: 5px solid #4F4969;
    color: #f5f5f5;;
}