body {
    background-color: #f2f4fb;
    background-image: url('Images/geobackground.png') ;
}

.defaultSize {
    color: hsl(204, 86%, 53%);

}

.newSize {
    color: hsl(0, 0%, 4%);
}

.is-link.input, .is-link.textarea {
    border-color: hsl(204, 86%, 53%);;
}


.is-primary.input, .is-primary.textarea {
    border-color: black;
}

.button.is-warning {
    background-color: hsl(204, 86%, 53%);
    border-color: transparent;
    color: hsl(0, 0%, 96%);
}