body {
  height: 100vh;
  width: 100vw;
 
}

section {
  padding: 1vw;
  
}


blockquote {
  font-family: American Typewriter, serif	;
  font-size: 1.5em;
  margin: 20px;
}

input {
  text-align: center;
  margin-bottom: 1vh;
  }



.from{
     margin-left: 1vh;
  }

.to {
    margin-right: 1vh;
  }

.column {
  margin: 0 auto;
  padding: 0;
  
}


.modal-card{
  padding: 0px;
  margin: 0px;
  max-height: 50vh;
  width: 100%;
}


/* .changes{
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
} */

.author {
    margin: 20px;
    margin-right: 25%;
    text-align: right;
    font-family: cursive;
    font-size: 1.25em;	
  }


.card-content{
    line-height: 3em;
  }

.card-header-title{
  text-align: center;
  font-size: 3vh;
}

.quote {
  margin-top: 35px;
  margin-bottom: 35px;
  letter-spacing: .25rem;

}

.defaultSize {
  
  font-size: 1.9em;
}

.newSize{

  font-size:2.1em ;
  cursor: pointer

}

.card-footer {
  border-top: 0px;
}

.changes {
  margin: 10px;
}


#example {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vh;
}

#instructions {
  max-height: 80vh;
  max-width: 33vw;
}

#decoded {
  max-height: 80vh;
  max-width: 33vw;

}

.created-by {
  font-size: 1 vw;
}

.play-again{
  width: 100%
}

@media only screen and (min-width: 601px) {

  #app{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


}

.modal-card-title{
  display:  inline-flex;
  align-items: center;
  justify-content: center;
}
.modal-card-foot{
  display:  inline-flex;
  align-items: center;
  justify-content: center;
}




@media only screen and (max-width: 600px) {

  .modal-background {
  height: 100vh;
 
  
  

  }
 
  #decoded {
    position: fixed;
    top: 2vh;
    max-height: 80vh;
    max-width: 90vw;
  }

  .outerModal .modal-card {
    position: absolute;
    top: 10vh;
    left: 6.5vh;
    max-width: 90vw;
    margin-top: -5vh;
    margin-left: -5vh;   
  }
 
  #instructions {
    max-height: 80vh;
    max-width: 85vw;
  }
  
  body {
    margin-top: 0px;
  }
  
  .app {
    padding-top: 0;
    
  }
  
  div.card-content{
    line-height: 4.5vh;
  }

  .modal-card-title {
    font-size: 2.5vh;
  }
  
  .quote {
    margin-top: 1vh;
    margin-bottom: 1vh;
    letter-spacing: .35rem;
    
  }
  .defaultSize {
    font-size: 1.1em;
  }
  
  .newSize{
    font-size: 1.3em ;
    
  }
  
  
  .changes {
    
    margin: 5px;
  }
  
  .tageach {
    display: inline-block;
    margin: 5px;
  }
}


