

body {

}



section {
  padding: 1vw;


}

.modal-card{
  padding: 0px;
  margin: 0px;
  max-height: 50vh;
  width: 100%;
}

.modal-background {
  height: 98vh;
}

.column {
  margin: 0 auto;
  padding: 0;
  
}

input {
  text-align: center;
  margin-right: 1px;
  }

blockquote {
  font-family: American Typewriter, serif	;
  font-size: 1.5em;
  margin: 20px;
}




.changes{
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

  .author {
    margin: 20px;
    margin-right: 25%;
    text-align: right;
    font-family: cursive;
    font-size: 1.25em;	
  }

  div.card-content{
    line-height: 3em;
  }

.card-header-title{
  text-align: center;
  font-size: 3vh;
}

.quote {
  color: hsl(204, 86%, 53%);
  /* font-size: 1.5em; */
  margin-top: 35px;
  margin-bottom: 35px;
  letter-spacing: .25rem;

}

.defaultSize {
  color: hsl(204, 86%, 53%);
  font-size: 1.9em;
}

.newSize{
  color: hsl(0, 0%, 4%);
  font-size:2.1em ;

}
.changes {
  margin: 10px;
}



.tageach {
  
  display: inline-block;
  margin: 10px;
}


@media only screen and (max-width: 600px) {
  


  
  body {
    margin-top: 0px;
  }
  
  .app {
    padding-top: 0;
  
  }

  div.card-content{
    line-height: 5vh;
  }
  
  .quote {
    color: hsl(204, 86%, 53%);
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: .25rem;
  
  }
 .defaultSize {
    color: hsl(204, 86%, 53%);
    font-size: 1.25em;
  }

  .newSize{
    color: hsl(0, 0%, 4%);
    font-size: 1.5em ;
  
  }


  .changes {

    margin: 5px;
  }

  .tageach {
    display: inline-block;
    margin: 5px;
  }
}

