
section {
  padding: 10px;
  margin: 10px;
}

input {
  text-align: center;
  margin-right: 1px;
  }

blockquote {
  font-family: American Typewriter, serif	;
  font-size: 2em;
  margin: 20px;
}

  .author {
    margin: 20px;
    margin-right: 25%;
    text-align: right;
    font-family: cursive;
    font-size: 1.25em;	
  }

  div.card-content{
    line-height: 3em;
  }

.card-header-title{
  text-align: center;
  font-size: 3vh;
}

.quote {
  color: hsl(204, 86%, 53%);
  /* font-size: 1.5em; */
  margin-top: 35px;
  margin-bottom: 35px;
  letter-spacing: .25rem;

}

.defaultSize {
  color: hsl(204, 86%, 53%);
  font-size: 1.1em;
}

.newSize{
  color: hsl(0, 0%, 4%);
  font-size:1.3em ;

}
.changes {
  margin: 10px;
}



.tageach {
  display: inline-block;
  margin: 10px;
}


@media only screen and (max-width: 600px) {
  
  .column.hide-mobile {
    display: none;
   }

   .column{
     padding: .75rem;
   }
  
  body {
    margin-top: 0px;
  }
  
  section {
    padding: 0px;
    margin-right: 3px;
    margin-left: 3px;
  }

  div.card-content{
    line-height: 2em;
  }
  
  .quote {
    color: hsl(204, 86%, 53%);
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: .25rem;
  
  }
 .defaultSize {
    color: hsl(204, 86%, 53%);
    font-size: 1.2em;
  }

  .newSize{
    color: hsl(0, 0%, 4%);
    font-size: 1.5em ;
  
  }


  .changes {

    margin: 5px;
  }

  .tageach {
    display: inline-block;
    margin: 5px;
  }
}

